
.body {
    display: flex;

  }
  .input-area{
    padding-bottom: 10px;
  }
  .show-area {
    flex: 2;
    display: flex;
    padding: 10px;
    
  }
  #deleteButton{
    background-color: red;
  }
  
  .note-area {
    flex: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    
  }

  